@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

body {
  font-family: lato, sans-serif;
}

.container {
  padding: 1rem 8%;
}

.container-2 {
  padding-left: 8%;
  padding-right: 8%;
}

a {
  text-decoration: none;
  font-family: lato, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 90px;
}
nav .logo img {
  width: 85%;
}

.desktop-only {
  display: none;
}

.top-nav {
  display: none;
}

.main-menu {
  display: none;
  position: absolute;
  background: #272a31;
  opacity: 90%;
  padding: 35px;
  width: 350px;
  height: 400px;
  left: 0;
  top: 0px;
}

.main-menu ul li {
  margin-top: 30px;
}

.main-menu ul li a {
  color: #fff;
}

.main-menu a:hover {
  color: #ed5342;
}

.main-menu img {
  width: 5%;
  float: right;
  margin-top: 25px;
}

.mobile-menu img {
  width: 20%;
}

.brand img {
  width: 85%;
}

#close img {
  width: 5%;
}

.menu-links {
  display: none;
}

.hero-section {
  background-image: url(../images/mobile-bkg-fa.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

.title {
  margin-top: 4rem;
}

h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: transparent;
  letter-spacing: 1px;
  background-image: linear-gradient(45deg, rgba(235, 71, 53, 0.939), rgba(252, 44, 7, 0.6)), url(../images/comp.png);
  background-size: contain;
  background-position-y: 10px;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ed5342;
}

.box {
  margin-top: 1rem;
  border: solid 0.2rem #fff;
  padding: 0.5rem;
  background: rgb(247, 247, 248);
}

p {
  font-size: 0.7rem;
}

.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
}
.date h4 {
  font-size: 1rem;
  color: #272a31;
}
.date .venue {
  margin-top: 0.5rem;
}

.program {
  background-color: #272a31;
  background-size: 10px 10px;
  background-image: radial-gradient(#181a1f 30%, transparent 10%, #262b39 50%, transparent 10%), linear-gradient(135deg, #121315 20%, transparent 10%, #21252c);
}
.program h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.line {
  width: 40px;
  height: 2px;
  display: flex;
  background: #ed5342;
  position: absolute;
  margin-top: -29px;
  left: 45%;
}

.program-item {
  margin-bottom: 10px;
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.154);
}
.program-item h3 {
  color: #ed5342;
  font-size: 0.95rem;
}
.program-item h3 p {
  font-size: 1.5rem;
}
.program-item .top {
  flex-basis: 55%;
  display: flex;
  align-items: center;
}
.program-item .top img {
  width: 30%;
  margin-right: 0.5rem;
}
.program-item .box-content {
  margin-left: -20px;
  display: flex;
  gap: 10px;
  padding: 5px;
  flex-basis: 70%;
}

.reg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.register-btn {
  display: flex;
  background: #ed5342;
  padding: 20px 40px;
}
.register-btn a {
  color: #fff;
}

.speakers {
  width: 100%;
  height: 600px;
  margin-bottom: 80px;
}
.speakers h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #272a31;
  font-size: 1rem;
}

.speaker-area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}

.speakers-detail {
  display: flex;
}
.speakers-detail h3 {
  font-size: 1rem;
}
.speakers-detail .image {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.speakers-detail .col-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 20px;
  width: 50%;
}
.speakers-detail .col-2 span {
  width: 20px;
  height: 2px;
  display: flex;
  background: #ed5342;
  margin-top: 10px;
  margin-bottom: 10px;
}

.partners {
  background: #272a31;
  width: 100%;
  height: 30vh;
  margin-top: 220px;
  text-align: center;
}

.partners-content h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
.partners-content h2 .line {
  width: 40px;
  height: 2px;
  display: flex;
  background: #ed5342;
  position: absolute;
  margin-top: -29px;
  left: 45%;
}
.partners-content .partners-logos {
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners-content .partners-logos img {
  width: 20%;
  margin-left: 30px;
  margin-top: 20px;
}

.footer {
  background: #fff;
  width: 100%;
  height: 20vh;
  margin-top: 20px;
}

.footer-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common {
  flex-basis: 50%;
}

.common img {
  width: 60%;
}

.copyright {
  flex-basis: 60%;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem 10%;
  }
  nav {
    position: relative;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
    height: 98px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    background: #272a31;
  }
  .user-login a {
    color: #fff;
    font-size: 0.7rem;
    margin-left: 1rem;
  }
  .social-icons img {
    float: right;
    margin-right: 1rem;
    width: 3.5%;
  }
  .hero-section {
    background-image: url(../images/desktop-bg-fa.png);
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  title {
    margin-top: 8rem;
  }
  #close {
    display: none;
  }
  .main-menu {
    display: flex;
    color: #ed5342;
    width: 100%;
    justify-content: flex-end;
    padding-right: 6%;
    margin-top: -15px;
  }
  .main-links {
    display: flex;
  }
  .main-links li {
    margin-right: 30px;
  }
  .main-links li a {
    font-size: 1.2rem;
  }
  .active a {
    color: #ed5342;
    font-weight: 400;
  }
  .menu-links {
    display: flex;
  }
  h1 {
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 5rem;
    color: transparent;
    letter-spacing: 1px;
  }
  .box {
    width: 65%;
    height: 120px;
    padding: 2%;
  }
  .box p {
    font-size: 1.2rem;
  }
  .date h3 {
    font-size: 1.5rem;
  }
  .venue p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .mobile-menu img {
    display: none;
  }
  #logo {
    margin-top: 19px;
  }
  .program {
    background-size: 20px 20px;
    height: 550px;
    margin-top: -39px;
  }
  .program h2 {
    margin-top: 60px;
    font-size: 1.8rem;
  }
  .program .line {
    width: 70px;
    left: 47%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 15%;
  }
  .program-item {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    margin-top: -90px;
  }
  .program-item .top img {
    width: 80%;
  }
  .top {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-content {
    flex-basis: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-content h3 br {
    display: none;
  }
  .box-content p {
    font-size: 0.9rem;
    text-align: center;
  }
  .reg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .register-btn {
    display: flex;
    background: #ed5342;
    padding: 20px 40px;
  }
  .register-btn a {
    color: #fff;
  }
  .speaker-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 35px;
  }
  .col-2 {
    width: 50%;
  }
  .speakers-detail {
    gap: 10px;
  }
  .speakers-detail .image {
    width: 20%;
  }
  .speakers-detail .col-2 h3 {
    font-size: 1rem;
  }
  .col-2 p {
    font-size: 1rem;
  }
  .speakers h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
  }
  .speakers h2 span {
    left: 45%;
  }
}/*# sourceMappingURL=style.css.map */