@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}
$primary-color: #ed5342;
$secondary-color: #272a31;
$light-grey: #d3d3d3;
$font: lato, sans-serif;
$white: #fff;
$grey-back: #f7f7f8;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: $font;
}
.container {
  padding: 1rem 8%;
}
a {
  text-decoration: none;
  font-family: $font;
}
nav {
  display: flex;
  align-items: center;
  background: $white;
  width: 100%;
  height: 70px;
  padding: 1rem 8%;
  .logo {
    margin-left: 25%;
  }
}
.top-nav {
  display: none;
}
.main-menu {
  display: none;
  position: absolute;
  background: $secondary-color;
  opacity: 90%;
  padding: 35px;
  width: 350px;
  height: 400px;
  left: 0;
  top: 0px;
}
.main-menu ul li {
  margin-top: 30px;
}

.main-menu ul li a {
  color: $white;
}
.main-menu a:hover {
  color: $primary-color;
}
.main-menu img {
  width: 5%;
  float: right;
  margin-top: 25px;
}
.mobile-menu img {
  width: 25%;
}

.hero-section {
  background-image: url(../images/mobile-bg-03.png);
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.title {
  margin-top: 4rem;
}
h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: transparent;
  letter-spacing: 1px;

  background-image: linear-gradient(
      45deg,
      (rgba(235, 71, 53, 0.939)),
      (rgba(252, 44, 7, 0.6))
    ),
    url(../images/comp.png);

  background-size: contain;
  background-position-y: 10px;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: $primary-color;
}
.box {
  margin-top: 1rem;
  border: solid 0.2rem #fff;
  padding: 0.5rem;
  background: rgb(247, 247, 248);
}

p {
  font-size: 0.7rem;
}
.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  h4 {
    font-size: 1rem;
    color: $secondary-color;
  }
  .venue {
    margin-top: 0.5rem;
  }
}
.program {
  background-color: $secondary-color;
  background-size: 10px 10px;
  background-image: radial-gradient(
      #181a1f 30%,
      transparent 10%,
      #262b39 50%,
      transparent 10%
    ),
    linear-gradient(135deg, #121315 20%, transparent 10%, #21252c);

  h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: $white;
    font-size: 1rem;
  }
}
.line {
  width: 40px;
  height: 2px;
  display: flex;
  background: $primary-color;
  position: absolute;
  margin-top: -29px;
  left: 45%;
}
.program-item {
  margin-bottom: 10px;
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.154);
  h3 {
    color: $primary-color;
    font-size: 0.95rem;
    p {
      font-size: 1.5rem;
    }
  }
  .top {
    flex-basis: 55%;
    display: flex;
    align-items: center;
  }
  .top img {
    width: 30%;
    margin-right: 0.5rem;
  }
  .box-content {
    margin-left: -20px;
    display: flex;
    gap: 10px;
    padding: 5px;
    flex-basis: 70%;
  }
}
.reg {
  @include flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
.register-btn {
  display: flex;
  background: $primary-color;
  padding: 20px 40px;
  a {
    color: $white;
  }
}
.speakers {
  width: 100%;
  height: 600px;
  h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: $secondary-color;
    font-size: 1rem;
  }
}
.speaker-area {
  width: 100%;
  display: flex;
}
.speaker-area {
  display: grid;
  grid-template-columns: 1fr;
}

.speakers-detail {
  display: flex;
  h3 {
    font-size: 1rem;
  }
  .image {
    width: 30%;
    height: 80%;
    margin-top: 10px;
  }
  .col-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 20px;
  }
  .col-2 span {
    width: 20px;
    height: 2px;
    display: flex;
    background: $primary-color;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #partners {
    @include flex;
    width: 100%;
    height: auto;
    background-color: $secondary-color;
  }
  .partners-content {
    margin-top: 50px;
    .line {
      margin-top: 10px;
    }
  }
}
// -------------Media-query---------------

@media (min-width: 768px) {
  .container {
    padding: 1rem 10%;
  }
  .mobile-menu {
    display: none;
  }
  nav {
    height: 90px;
  }
  .top-nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    background: $secondary-color;
  }
  .user-login a {
    color: $white;
    font-size: 0.7rem;
    margin-left: 1rem;
  }
  .social-icons img {
    float: right;
    margin-right: 1rem;
    width: 3.5%;
  }
  .hero-section {
    background-image: url(../images/dsk-bg.png);
    width: 100%;
    height: auto;
  }
  .title {
    margin-top: 9rem;
  }
  h2 {
    font-size: 3rem;
  }
  .mobile-menu img {
    display: none;
  }
  .logo img {
    margin-top: 19px;
    display: flex;
    flex-direction: flex-start;
  }
  .program {
    background-size: 20px 20px;
    height: 550px;
    h2 {
      margin-top: 70px;
      font-size: 1.8rem;
    }
    .line {
      width: 70px;
      left: 47%;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 15%;
  }

  .program-item {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 20px;
    margin-top: -30px;
  }
  .program-item .top img {
    width: 80%;
  }
  .top {
    flex-basis: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-content {
    flex-basis: fit-content;
    @include flex;
    h3 br {
      display: none;
    }
    p {
      font-size: 0.9rem;
      text-align: center;
    }
  }
  .reg {
    @include flex;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .register-btn {
    display: flex;
    background: $primary-color;
    padding: 20px 40px;
    a {
      color: $white;
    }
  }
  .speakers-detail {
    gap: 10px;
  }
  .speakers-detail {
    .image {
      width: 30%;
    }
    .col-2 {
      h3 {
        font-size: 1rem;
      }
    }
  }
  .col-2 {
    p {
      font-size: 1rem;
    }
  }
  .speaker-area {
    display: flex;
    gap: 50px;
  }
  .speakers {
    h2 {
      margin-top: 50px;
      margin-bottom: 40px;
      text-align: center;
      color: $white;
      font-size: 1rem;
      span {
        left: 45%;
      }
    }
  }
  @media screen and (min-width: 1120px) {
    .container {
      padding: 1rem 15%;
    }
    nav {
      position: relative;
      box-shadow: 0px 7px 9px 0px rgb(0, 0, 0, 0.2);
    }
    #logo {
      margin-left: -85%;
      display: flex;
    }
    h1 {
      font-size: 4.6rem;
      font-weight: 900;
      line-height: 5rem;
      color: transparent;
      letter-spacing: 1px;
    }
    .box {
      width: 65%;
      height: 120px;
      padding: 2%;
      p {
        font-size: 1.2rem;
      }
    }
    .date h3 {
      font-size: 2rem;
      p {
        font-size: 3rem;
      }
    }
  }
}
