@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
$primary-color: #ed5342;
$secondary-color: #272a31;
$light-grey: #d3d3d3;
$font: lato, sans-serif;
$white: #fff;
$grey-back: #f7f7f8;

body {
  font-family: $font;
}
.container {
  padding: 1rem 8%;
}
nav {
  display: flex;
  align-items: center;
  background: $white;
  width: 100%;
  height: 70px;
  padding: 1rem 8%;
  .logo {
    margin-left: 25%;
  }
}
.mobile-menu a {
  font-size: 2rem;
  color: $secondary-color;
}
.hero-section {
  background-image: url(../images/mobile-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.title {
  margin-top: 4rem;
}
h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: transparent;
  letter-spacing: 1px;
  background-image: linear-gradient(
      45deg,
      (rgba(235, 71, 53, 0.939)),
      (rgba(252, 44, 7, 0.6))
    ),
    url(../images/comp.png);

  background-size: contain;
  background-position-y: 10px;
  background-clip: text;
  -webkit-background-clip: text;
}
h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: $primary-color;
}
.box {
  margin-top: 1rem;
  border: solid 0.2rem #fff;
  padding: 0.5rem;
  background: rgb(247, 247, 248);
}

p {
  font-size: 0.7rem;
}
.date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  h4 {
    font-size: 1.2rem;
    color: $secondary-color;
  }
  .venue {
    margin-top: 0.5rem;
  }
}
.program {
  background-image: url(../images/prog-bg-04.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -210px;
  h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  .line {
    width: 20%;
    height: 0.5%;
    background: $primary-color;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.box-content {
  display: flex;
  gap: 10px;
  padding: 5px;
}
.program-item {
  margin-bottom: 10px;
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.154);
  h3 {
    color: $primary-color;
    font-size: 1em;
    p {
      font-size: 1.5rem;
    }
  }
}
