@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
$primary-color: #ec5242;
$secondary-color: #272a31;
$light-grey: #d3d3d3;
$font: lato, sans-serif;

body {
  font-family: $font;
}
.container {
  padding: 1rem 8%;
}
nav {
  display: flex;
  align-items: center;
  .logo {
    margin-left: 25%;
  }
}

.mobile-menu a {
  font-size: 2rem;
  color: $secondary-color;
}
